<a href="https://colab.research.google.com/github/Ashiq27/Learning/blob/main/Ashiq_Personal_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sample_variable = "Hello World!"
print(sample_variable, type(sample_variable))

Hello World! <class 'str'>

In [ ]:
sample_variable = "153"
print(sample_variable, type(sample_variable))

153 <class 'str'>

In [ ]:
sample_variable = "Hello World!"
print(sample_variable, type(sample_variable))
sample_variable1 = "153"
print(sample_variable1, type(sample_variable1))
sample_variable2 = 153
print(sample_variable2, type(sample_variable2))
sample_variable3 = 5.4
print(sample_variable3, type(sample_variable3))

Hello World! <class 'str'>
153 <class 'str'>
153 <class 'int'>
5.4 <class 'float'>

In [ ]:
#Concatenation
a='5'
b='6'
a1="4.5"
b1=7
c=a+b
print(c, type(c))
c=a+a1
print(c, type(c))
c=a+b1
print(c, type(c))

56 <class 'str'>
54.5 <class 'str'>

TypeError: ignored

In [ ]:
c1=5
print("The value of C1 = ", float(c1))
c1=float(c1)
print(c1)

The value of C1 =  5.0
5.0

In [ ]:
V1 = "Special"
length_of_V1 = len(V1)-1
print(len(V1)-1)

6

In [ ]:

print(length_of_V1)

6

In [ ]:
print(V1[4])

i

In [ ]:
print(V1[-1])

l

In [ ]:
print(V1[::-1])

laicepS

In [ ]:
print(V1[::1])

Special

In [ ]:
print(V1[1::])

pecial

In [ ]:
print(V1[:1:1])

S

In [ ]:
P1= "Bird"
print

IndexError: ignored

# #**Worked items**

In [ ]:
#from itertools import product
colors = ["yellow", "orange", "blue"]
sizes = ["S", "L", "M", "XL", "XXL"]
combination = [(color, size) for color in colors
                    for size in sizes]
for items in combination:
  print(items)

('yellow', 'S')
('yellow', 'L')
('yellow', 'M')
('yellow', 'XL')
('yellow', 'XXL')
('orange', 'S')
('orange', 'L')
('orange', 'M')
('orange', 'XL')
('orange', 'XXL')
('blue', 'S')
('blue', 'L')
('blue', 'M')
('blue', 'XL')
('blue', 'XXL')

In [ ]:
purchase_amount = 5000
if purchase_amount > 500:
  print("discount is provided")
else:
  print("discount not provided")

discount is provided

In [ ]:
purchase_amount = 700
if purchase_amount < 500:
  discount_amount = (purchase_amount/100)*1
  print("Please do a discount amount of ", discount_amount)
elif purchase_amount > 500:
  discount_amount = (purchase_amount/100)*10
  print("Please do a discount amount of ", discount_amount)
else:
  print("invalid")

Please do a discount amount of  70.0

In [ ]:
a=True
b=False
type(a), type(b)

(bool, bool)

In [ ]:
a=int(False)
print("bool to int: ", a)
b=float(True)
print("bool to float: ", b)
c=complex(False)
print("bool to complex: ", c)

bool to int:  0
bool to float:  1.0
bool to complex:  0j

In [ ]:
marks = 25
result : ""
if marks <= 30:
  result = "failed"
elif marks >80:
  result = "Passed with distinction"
elif marks >= 60:
  result = "Passed in 1st class"
elif marks >= 40:
  result = "Passed"
else:
  result = "failed"

print(result)

failed

In [ ]:
def Check_Vowel(n):
  match n:
    case "a": return "Vowel alphabet"
    case "e": return "Vowel alphabet"
    case _: return "simple alphabet"
print(Check_Vowel("a"))
print(Check_Vowel("j"))

Vowel alphabet
simple alphabet

In [ ]:
words = ["one", "two", "three"]
for x in words:
  print(x)

one
two
three

In [ ]:
i = 1
while i <10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9

In [ ]:
age = 15
print(("age: "), age)
if age >=18:
  print("Eligible to vote")
else:
  print("Not eligible to vote")

age:  15
Not eligible to vote

In [ ]:
numbers = list(map(int,input().split(" ")))
print(numbers)

5 4 2 1 3
[5, 4, 2, 1, 3]

In [ ]:
numbers = list(map(int,input().split(" ")))
maxi = numbers[0]
for number in numbers:
  if number>maxi:
    maxi=number
  else:
    continue
print("maximum value is: ", maxi)

1 2 3
maximum value is:  3

In [ ]:
customer1 =58
customer2 = 60
if customer1 < 70:
  print ("customer removed")
if customer2 > 45:
  print ("customer is considered")

customer removed
customer is considered

In [ ]:
import pandas as pd